@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

.container-lg > img{
    width: 100%;
}

body{
    background: url(img/muro.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
}

.dev-icons > li {
    font-size:60px;
}

#intro, #about, #experience, #education, #skills{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#hobbies {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

#enlaces{
    max-width: 50%;
    height: auto;
}

.navbar > .collapse > .self-link > li > a, span, footer > .container {
    color: white;
}

.social-icon{
    font-size: 60px;
    color: white;
    
}

.social-icon:hover {
    color: white;
    
}

.social-icon > i {
    transition: transform .2s;
    
}

.social-icon > i:hover {
    transform: scale(1.2);
    
}

.signal-robots .change-robot:nth-of-type(2) {
  display: none;
}

.signal-robots:hover .change-robot:nth-of-type(1) {
  display: none;
}

.signal-robots:hover .change-robot:nth-of-type(2) {
  display: block;
}

.change-robot {
    width: 100px;
}

