html {
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

body{
    background: url(img/pictures/muro2.png) no-repeat center fixed;
    background-size: cover;
}

.container{
    background-color: white;
}

.banner{
    color: white;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#enlaces{
    max-width: 50%;
    height: auto;
}

footer > div {
    max-height: 20%;
}